@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    background: #ba000d;
    display: flex;
}

.menu-item {
    flex: auto;
    text-align: center;
    position: relative;
}


.menu-link {
    display: block;
    text-decoration: none;
    color: #eee;
    line-height: 3;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu-link:hover {
    color: #311b92;
    background: #ff7961;
}

.menu-link:active {
    color: #ffa726;
}

.submenu {
    display: none;
    position: absolute;
    width: 100%;
}

.submenu .menu-link:hover {
    background: #ffca28;
}

.menu-item:hover .submenu {
    display: block;
    background: #ffa726;
}

@media screen and (max-width: 678px) {
    .menu {
        display: block;
    }

}